.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  height: 100vh;
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
  }
}

.main {
  width: 100%;
}
