.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  height: 100vh;
}

.sidebar {
  width: 300px;
  margin-right: 15px;
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
}

.main__usersInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main__prompt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
